ESP_SERVER_BASE_DIR=/opt/esp-remote-build-flash/server
ESP_SERVER_HOST=0.0.0.0
ESP_SERVER_PORT=8000
ESP_SERVER_IPV6_PROXY=0
ESP_DEFAULT_PROJECT_NAME=ESP32_S3_wifi_ble_hub
ESP_DEFAULT_IDF_IMAGE=espressif/idf:v6.0.1
ESP_ALLOWED_IDF_IMAGES=espressif/idf:v4.4.8,espressif/idf:v5.0.8,espressif/idf:v5.1.6,espressif/idf:v5.2.5,espressif/idf:v5.3.4,espressif/idf:v5.4.2,espressif/idf:v5.5.1,espressif/idf:v6.0.1,espressif/idf:v6.0.2
ESP_ALLOW_CUSTOM_IDF_IMAGE=1
ESP_DEFAULT_TARGET=esp32s3
ESP_MAX_UPLOAD_SIZE_MB=200
